body {
  background: url('background.webp') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  
  /* Centering the container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}

  .slot-window {
    width: 200px;
    height: 220px;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
  }

  .slot-items {
    position: absolute;
    width: 100%;
    transition: transform 5s cubic-bezier(0.3, 0.1, 0.3, 1.0);
    transform: translateY(-800px);
  }

  .slot-item {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slot-item img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    object-fit: contain;
  }

  .spin-button {
    padding: 15px 40px;
    font-size: 20px;
    background: #2c2b2b;
    color: white;
    border: 3px solid rgb(3, 241, 254);
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.1s;
  }

  .spin-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .spin-button:active:not(:disabled) {
    transform: scale(0.95);
  }